@model EstateFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="header-margin text-center">@ViewBag.Title</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Type"></label>
                <input asp-for="Type" class="form-control" placeholder="Apartment, House, etc...">
                <span asp-validation-for="Type" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfConstruction"></label>
                <input asp-for="TypeOfConstruction" class="form-control" placeholder="Panel, brick, etc...">
                <span asp-validation-for="TypeOfConstruction" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Additional information about the estate..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfConstruction"></label>
                <input asp-for="YearOfConstruction" class="form-control" placeholder="@DateTime.UtcNow.Year">
                <span asp-validation-for="YearOfConstruction" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Squaring"></label>
                <input asp-for="Squaring" class="form-control" placeholder="Squaring of the estate...">
                <span asp-validation-for="Squaring" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Your URL here...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Your price here...">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FurnitureId"></label>
                <select asp-for="FurnitureId" class="form-control">
                    @foreach (var furniture in Model.Furnitures)
                    {
                        <option value="@furniture.Id">@furniture.Type</option>
                    }
                </select>
                <span asp-validation-for="FurnitureId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalId"></label>
                <select asp-for="AnimalId" class="form-control">
                    @foreach (var animal in Model.Animals)
                    {
                        <option value="@animal.Id">@animal.Type</option>
                    }
                </select>
                <span asp-validation-for="AnimalId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>

            <input class="btn btn-primary float-right mt-3" type ="submit" value="Save" />
        </form>
    </div>
</div>
