@model EstateDeleteServiceModel

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-danger">Are you sure you want to delete this Estate?</h2>
            <hr/>
<div class="container">
    <dl class="row">
        <dt class="col-sm-8">
        </dt>
        <dd class="col-sm-4">
        <dd class="col-sm-8">
             <dl class="row">
                 <dt class="col-sm-6">
                     <label asp-for="Type"></label>
                 </dt>
                 <dd class="col-sm-6">
                     @Model.Type
                 </dd>
                 <dt class="col-sm-6">
                     <label asp-for="TypeOfConstruction">Type of construction</label>
                 </dt>
                 <dd class="col-sm-6">
                     @Model.TypeOfConstruction
                 </dd>
                 <dt class="col-sm-6">
                     <label asp-for="YearOfConstruction">Year of construction</label>
                 </dt>
                 <dd class="col-sm-6">
                     @Model.YearOfConstruction
                 </dd>
                 <dt class="col-sm-6">
                     <label asp-for="Squaring"></label>
                 </dt>
                 <dd class="col-sm-6">
                     @Model.Squaring
                 </dd>
                 <dt class="col-sm-6">
                     <label asp-for="Price"></label>
                 </dt>
                 <dd class="col-sm-6">
                     @Model.Price
                 </dd>
                 <dt class="col-sm-6">
                     <label asp-for="FurnitureType">Furniture</label>
                 </dt>
                 <dd class="col-sm-6">
                     @Model.FurnitureType
                 </dd>
                 <dt class="col-sm-6">
                     <label asp-for="AnimalType">Animals allowed</label>
                 </dt>
                 <dd class="col-sm-6">
                     @Model.AnimalType
                 </dd>
                  <dt class="col-sm-6">
                     <label asp-for="CategoryName">Category</label>
                 </dt>
                 <dd class="col-sm-6">
                     @Model.CategoryName
                 </dd>
                 <dt class="col-sm-6">
                     <label asp-for="Description"></label>
                 </dt>
                 <dd class="col-sm-6">
                     @Model.Description
                 </dd>
             </dl>
        </dd>
        <dd class="col-sm-4">
            <div class="shadow-sm " style="width: 100%; height: auto;">
                <img src="@Model.ImageUrl" style="display: block; margin: 0 auto; width: 100%" />
            </div>
        </dd>
        <dt class="col-sm-8"></dt>
        <dd class="col-sm-4">
            <form class="float-right" asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
            <form class="float-right mr-3" asp-action="Mine">
                <input type="submit" value="Go Back" class="btn btn-primary" />
            </form>
        </dd>
    </dl>
</div>
<hr/>

